body {
  font-family: "Optima";
}

h2 {
  font-family: "Andale Mono";
}

.container {
  padding: 10%;
}

.column {
  margin: 5px;
  padding: 20px;
  float: left;
  width: 400px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 15px;
  text-align: justify;
}

button {
  background-color: transparent;
  color: #1f1f1f;
  border-style: solid;
  border-radius: 15px;
  border-color: #1f1f1f;
  padding: 10px;
  width: 100%;
  outline: none;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #fdfdaf;
  font-weight: bold;
}


/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
  margin-top: 30px;
  width: auto;
  float: right;
}

#answer-display:hover {
  color: #fff;
}
